<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hubiao.view">

    <application>
        <activity
            android:name="com.hubiao.view.LayoutActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.StudyDemo.NoActionBar" />

        <activity
            android:name="com.hubiao.view.module.constraintlayout.ConstraintLayoutActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.StudyDemo.NoActionBar" />

        <activity
            android:name="com.hubiao.view.module.cardview.CardViewActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.StudyDemo.NoActionBar" />

        <activity
            android:name="com.hubiao.view.module.recyclerview.RecyclerViewActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.StudyDemo.NoActionBar" />

    </application>

</manifest>