<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hubiao.view">

    <application>
        <activity
            android:name=".LayoutActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.StudyDemo.NoActionBar" />

        <activity
            android:name=".ConstraintLayoutActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.StudyDemo.NoActionBar" />

    </application>

</manifest>