<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jetpackdemeo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".JetPackApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.StudyDemo">

        <activity android:name=".DemoActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity
            android:name=".ShowActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".JetPackActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.LifeCycleTestActivity1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.LifeCycleTestActivity2"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".fragment.FragmentTestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".fragment.fragmentadapter.FragmentAdapterTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".fragment.fragmentstateadapter.FragmentStateAdapterTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".fragment.FragmentAddRemoveTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".context.ContextTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.ViewTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.ViewUiTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".handler.HandlerTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".toast.ToastTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".dialog.DialogTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".multithreading.MultithreadingTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thirdframework.ThirdFrameworkTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thirdframework.glide.GlideTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thirdframework.okhttp.OkHttpTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thirdframework.rxjava.RxJavaTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thirdframework.rxjava.RxJavaOperatorTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thirdframework.rxjava.RxJavaCreateOperatorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity android:name=".thirdframework.rxjava.RxJavaTransformOperatorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".thirdframework.rxjava.RxJavaCombineOperatorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity android:name=".thirdframework.rxjava.RxJavaFunctionOperatorTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".thirdframework.rxjava.RxJavaBackPressureActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thirdframework.retrofit.RetrofitTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity android:name=".ipc.IpcActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.recyclerview.AutoScrollRecyclerViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.recyclerview.SimpleRecyclerViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.recyclerview.GlideRecyclerViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".webview.WebViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <service android:name=".context.ContextTestService" />

    </application>

</manifest>