<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hubiao.view">

    <application android:name=".SimpleApplication">
        <activity
            android:name=".LayoutActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.StudyDemo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity
            android:name=".module.constraintlayout.ConstraintLayoutActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.StudyDemo.NoActionBar" />

        <activity
            android:name=".module.cardview.CardViewActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.StudyDemo.NoActionBar" />

        <service
            android:name="com.didichuxing.doraemonkit.kit.colorpick.ScreenRecorderService"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection"
            tools:targetApi="q" />

    </application>

</manifest>