<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jetpackdemeo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".JetPackActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ShowActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.LifeCycleTestActivity1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.LifeCycleTestActivity2"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".fragment.FragmentTestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".fragment.fragmentadapter.FragmentAdapterTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".fragment.fragmentstateadapter.FragmentStateAdapterTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".fragment.FragmentAddRemoveTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".context.ContextTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.ViewTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.ViewUiTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".handler.HandlerTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".toast.ToastTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".multithreading.MultithreadingTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thirdframework.ThirdFrameworkTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thirdframework.glide.GlideTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thirdframework.okhttp.OkHttpTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thirdframework.rxjava.RxJavaTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thirdframework.rxjava.RxJavaOperatorTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thirdframework.rxjava.RxJavaCreateOperatorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity android:name=".thirdframework.rxjava.RxJavaTransformOperatorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <service android:name=".context.ContextTestService" />

    </application>

</manifest>